<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <ion-button (click)="fotografia()">Fotografia</ion-button>
  </div>
  <ion-label>eso</ion-label>
  <!-- <img [src]="base64Image" *ngIf="base64Image"/> -->
  <ion-img [src]="base64Image" *ngIf="base64Image"></ion-img>
</ion-content>
